# CODEOWNERS
#
# Documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# Order is alphabetical for easier maintenance.
#
# Prasanna Muthukumaraswamy (prablr79)
# Matt Schmaelzle (mjsdell)
# Yamunadevi Shanmugam (shanmydell)
# Boya Murthy (boyamurthy)
# Utkarsh Dubey (delldubey)
# Sinu Chacko (SinuChacko)
# Bharadwaj Sathavalli (bharadwajrs-dell)
# Rajat Maheshwari (mahesr2)
# Santhosh Shekarappa (santhoshhs10)
# Nida Taranum (nidtara)
# Shampavman Cg (shampavman)

# for all files
* @prablr79 @mjsdell @shanmydell @boyamurthy @delldubey @SinuChacko @bharadwajrs-dell @mahesr2 @santhoshhs10 @nidtara @shampavman
