BUILD:
  TYPE: R
  REPO: localhost:5000
  NAMESPACE: powermax
  NUMBER: 0
GO:
  VERSION: 1.20
CENTOS:
  REPO: ""
  NAMESPACE: centos
  VERSION: centos8.2.2004
RHEL:
  REPO: registry.access.redhat.com
  NAMESPACE: rhel7/rhel
  VERSION: 7.7-529
UBI:
  REPO: registry.access.redhat.com
  NAMESPACE: ubi8/ubi
  VERSION: 8.3-227
UBIM:
  REPO: registry.access.redhat.com
  NAMESPACE: ubi8/ubi-minimal
  VERSION: 8.7-1085  
  SHA: ab03679e683010d485ef0399e056b09a38d7843ba4a36ee7dec337dd0037f7a7
UBIMICRO:
  REPO: registry.access.redhat.com
  NAMESPACE: ubi9/ubi-micro
  VERSION: 9.2-9
  SHA: 18a01cb5c53560ca2295e8a218454fe33b330ad6fac0d0ea43a513cd93787b7f
IMAGE:
  NAME: csi-powermax
