BUILD:
  TYPE: R
  REPO: localhost:5000
  NAMESPACE: powermax
  NUMBER: 0
GO:
  VERSION: 1.18
CENTOS:
  REPO: ""
  NAMESPACE: centos
  VERSION: centos8.2.2004
RHEL:
  REPO: registry.access.redhat.com
  NAMESPACE: rhel7/rhel
  VERSION: 7.7-529
UBI:
  REPO: registry.access.redhat.com
  NAMESPACE: ubi8/ubi
  VERSION: 8.3-227
UBIM:
  REPO: registry.access.redhat.com
  NAMESPACE: ubi8/ubi-minimal
  VERSION: 8.6-902.1661794353
  SHA: c8c1c0f893a7ba679fd65863f2d1389179a92957c31e95521b3290c6b6fc4a76
IMAGE:
  NAME: csi-powermax
