BUILD:
  TYPE: R
  REPO: localhost:5000
  NAMESPACE: powermax
  NUMBER: 0
GO:
  VERSION: 1.17.5
CENTOS:
  REPO: ""
  NAMESPACE: centos
  VERSION: centos8.2.2004
RHEL:
  REPO: registry.access.redhat.com
  NAMESPACE: rhel7/rhel
  VERSION: 7.7-529
UBI:
  REPO: registry.access.redhat.com
  NAMESPACE: ubi8/ubi
  VERSION: 8.3-227
UBIM:
  REPO: registry.access.redhat.com
  NAMESPACE: ubi8/ubi-minimal
  VERSION: 8.5-218
  SHA: be112e49c8addf19842a58ee30203f64d33affca6eb4fb74d6beac19d2f45259
IMAGE:
  NAME: csi-powermax
