# test directories and artifacts
pmax/c.out
service/test/
service/c.out
test/integration/c.linux.out

# binaries and temporary files
csi-powermax
!csi-powermax/
semver.mk

# files created by IDEs
.vscode
.idea/
