apiVersion: v1
kind: ServiceAccount
metadata:
  name: powermax-revproxy
  namespace: powermax
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: powermax-revproxy
  namespace: powermax
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["list", "watch", "get"]
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: powermax-revproxy
  namespace: powermax
subjects:
  - kind: ServiceAccount
    name: powermax-revproxy
    namespace: powermax
roleRef:
  kind: Role
  name: powermax-revproxy
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: v1
kind: Service
metadata:
  name: powermax-revproxy
  namespace: powermax
spec:
  ports:
    - port: 2222
      protocol: TCP
      targetPort: 2222
  selector:
    name: powermax-revproxy
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: powermax-revproxy
  namespace: powermax
spec:
  replicas: 1
  selector:
    matchLabels:
      name: powermax-revproxy
  template:
    metadata:
      labels:
        name: powermax-revproxy
    spec:
      serviceAccountName: powermax-revproxy
      containers:
        - name: powermax-revproxy
          # Replace this with the built image name
          image: quay.io/dell/container-storage-modules/csipowermax-reverseproxy:v2.7.0
          imagePullPolicy: Always
          env:
            - name: X_CSI_REVPROXY_CONFIG_DIR
              value: /etc/config/configmap
            - name: X_CSI_REVPROXY_CONFIG_FILE_NAME
              value: config.yaml
            - name: X_CSI_REVRPOXY_IN_CLUSTER
              value: "true"
            - name: X_CSI_REVPROXY_TLS_CERT_DIR
              value: /app/tls
            - name: X_CSI_REVPROXY_WATCH_NAMESPACE
              value: powermax         # Change this to the namespace where proxy will be installed
          volumeMounts:
            - name: configmap-volume
              mountPath: /etc/config/configmap
            - name: tls-secret
              mountPath: /app/tls
            - name: cert-dir
              mountPath: /app/certs
      volumes:
        - name: configmap-volume
          configMap:
            name: powermax-reverseproxy-config
            optional: true
        - name: tls-secret
          secret:
            secretName: csirevproxy-tls-secret
        - name: cert-dir
          emptyDir: