apiVersion: v1
name: csi-powermax
version: 2.0.0
appVersion: 2.0.0
description: |
  PowerMax CSI (Container Storage Interface) driver Kubernetes
  integration. This chart includes everything required to provision via CSI as
  well as a PowerMax StorageClass.
keywords:
- csi
- storage
dependencies:
  - name: csireverseproxy
    version: 1.4.0
    condition: csireverseproxy.enabled
home: https://github.com/dell/csi-powermax
icon: https://avatars1.githubusercontent.com/u/20958494?s=200&v=4
sources:
- https://github.com/dell/csi-powermax
maintainers:
- name: DellEMC
engine: gotpl
