apiVersion: v1
name: csi-powermax
version: 1.3.0
appVersion: 1.3.0
description: |
  PowerMax CSI (Container Storage Interface) driver Kubernetes
  integration. This chart includes everything required to provision via CSI as
  well as a PowerMax StorageClass.
keywords:
- csi
- storage
home: https://github.com/dell/csi-powermax
icon: https://avatars1.githubusercontent.com/u/20958494?s=200&v=4
sources:
- https://github.com/dell/csi-powermax
maintainers:
- name: DellEMC
engine: gotpl
