# "customDriverName", if enabled, sets the driver name to the
# value provided to its value field with namespace prefixed to it. 
# e.g, namespace.csi-powermax
customDriverName:
  value: csi-powermax
  enabled: false

# "defaultFsType" is used to set the default FS type which will be used
# for mount volumes if FsType is not specified in the storage class
defaultFsType: ext4

# "controller" allows to configure controller specific parameters
controller:
  # "controller.nodeSelector" defines what nodes would be selected for pods of controller deployment
  # Leave as blank to use all nodes
  nodeSelector:
  #   node-role.kubernetes.io/master: ""

  # "controller.tolerations" defines tolerations that would be applied to controller deployment
  # Leave as blank to install controller on worker nodes
  tolerations:
  #  - key: "node-role.kubernetes.io/master"
  #    operator: "Exists"
  #    effect: "NoSchedule"

# "node" allows to configure node specific parameters
node:
  # "node.nodeSelector" defines what nodes would be selected for pods of node daemonset
  # Leave as blank to use all nodes
  nodeSelector:
  #   node-role.kubernetes.io/master: ""

  # "node.tolerations" defines tolerations that would be applied to node daemonset
  # Add/Remove tolerations as per requirement
  # Leave as blank if you wish to not apply any tolerations
  tolerations:
    - key: "node.kubernetes.io/memory-pressure"
      operator: "Exists"
      effect: "NoExecute"
    - key: "node.kubernetes.io/disk-pressure"
      operator: "Exists"
      effect: "NoExecute"
    - key: "node.kubernetes.io/network-unavailable"
      operator: "Exists"
      effect: "NoExecute"

# "enableCHAP" determines if the driver is going to configure
# ISCSI node databases on the nodes with the CHAP credentials
# If enabled, the CHAP secret must be provided in the credentials secret
# and set to the key "chapsecret"
enableCHAP: false

# "unisphere" defines the Unisphere endpoint, with full URL, typically leveraging HTTPS.
# This should include the port number as well (the default is 8443)
# You must set this for your Unisphere instance.
unisphere: https://127.0.0.1:8443

# "csireverseproxy" refers to the subchart csireverseproxy
csireverseproxy:
  # Set enabled to true if you want to use proxy
  # the only supported mode is "Linked"
  image: dellemc/csipowermax-reverseproxy:v1.2.0
  enabled: false
  port: 2222
  primary:
    unisphere: https://0.0.0.0:8443
    skipCertificateValidation: true
    certSecret: ""
  # Enable the following section only if you want to use a backup Unisphere
  # This Unisphere should have the same credentials as the primary Unisphere
  #backup:
  #  unisphere: https://0.0.0.0:8443
  #  skipCertificateValidation: true
  #  certSecret: ""

# clusterPrefix defines a prefix that is appended onto all resources created in the Array
# This should be unique per K8s/CSI deployment
# maximum length of this value is 3 characters
clusterPrefix: ABC

# volumeNamePrefix defines a prefix that is prepended to volumes.
# THIS MUST BE ALL LOWER CASE.
volumeNamePrefix: pmax

# snapNamePrefix defines a prefix that is prepended to snapshots.
# THIS MUST BE ALL LOWER CASE.
snapNamePrefix: pmsn

# "controllerCount" defines the number of PowerMax controller nodes to deploy to
# the Kubernetes release
controllerCount: 2

# "portGroups" defines the set of existing port groups that the driver will use.
# It is a comma separated list of portgroup names.
portGroups: PortGroup1, PortGroup2, PortGroup3

# "arrayWhitelist", if set, defines a set of arrays that will be exposed via the CSI Driver.
# If set to an empty string, all arrays known to Unisphere will be exposed.
# It is a comma separated list of array serial numbers.
arrayWhitelist: ""

# "skipCertificateValidation" determines if the driver is going to skip verification of
# TLS certificates while connecting to Unisphere RESTAPI interface
# If it is set to false, then a secret powermax-certs has to be created with a X.509 certificate of CA 
# which signed the Unisphere certificate
skipCertificateValidation: "true"

# "transportProtocol" can be "FC" or "FIBRE" for fibrechannel, "ISCSI" for iSCSI, or "" for autoselection.
transportProtocol: ""

# "powerMaxDebug" enables low level and http traffic logging between the CSI driver and Unisphere.
# Do not enable this unless asked to do so by the support team.
powerMaxDebug: "false"

# nodeNameTemplate is used to provide a template for the CSI driver to use while creating the Host/IG on the array for the nodes in the cluster.
# It is of the format a-b-c-%foo%-xyz where foo will be replaced by host name of each node in the cluster.
# For e.g. - If a node in the cluster has a hostname - worker1, then the host name with the above template would be a-b-c-worker1-xyz
nodeNameTemplate: ""

# modifyHostName tells the driver to change any existing host names. When nodenametemplate is set,
# it changes the name to the specified format else it uses driver default host name format.

modifyHostName: "false"

snapshotClass:
  name: powermax-snapclass

# openshift tells the Helm chart that the installation is being done on a Red Hat OpenShift cluster
# Don't modify this value as this value is overridden by the install script
openshift: false

replication:
  enabled: false
  # Change this to use any specific version of the dell-csi-replicator sidecar
  image: localhost:5000/dell-csi-replicator:v0.0.1
  # replicationContextPrefix enables side cars to read required information from the volume context
  replicationContextPrefix: "powermax/"
  # replicationPrefix is used to find out if replication is enabled
  replicationPrefix: "replication.storage.dell.com/"
  